<div class="mx-auto" style="width:500px">
  <div class="container">
    <span class="p-3 mb-2 bg-light text-dark">マイページ</span>
  </div>
  </br>
  <div class="mx-auto" style="width:750px">
    <div class="container">
      <p class="text-left">
        <th>登録情報</th>
        <%= link_to "編集する", customer_edit_path(current_customer) ,class: "btn btn-success" %>
        <div class="container-left">
          <div class="row">
            <table class="table col table-bordered">
              <div class="table-secondary">
                <tr><td class="bg-light">氏名</td>
                <td><%= current_customer.full_name %></td>
                </tr>
                <tr><td class="bg-light">カナ</td>
                <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %></td>
                </tr>
                <tr><td class="bg-light">郵便番号</td>
                <td><%= current_customer.postal_code %></td>
                </tr>
                <tr><td class="bg-light">住所</td>
                <td><%= current_customer.address %></td>
                </tr>
                <tr><td class="bg-light">電話番号</td>
                <td><%= current_customer.telephone_number %></td>
                </tr>
                <tr><td class="bg-light">メールアドレス</td>
                <td><%= current_customer.email %></td>
                </tr>
              </div>
            </table>
          </div>
        </div>
      </br>
    <th>注文履歴</th>
    <%= link_to "一覧を見る", orders_path(@customer.id) ,class: "btn btn-primary" %>
      </p>
    </div>
  </div>