</br>
<div class="container">
  <div class="mx-auto" style="width: 1200px">
    <h3><span class="p-3 mb-2 bg-light text-dark">商品一覧</span></h3></br>
  </div>
  <div class="text-right">
    <%= link_to new_admin_item_path do %>
    <button type="button" class="　.btn-outline-dark rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
  <% end %>
  </div>
</br>
<div class="row">
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th  class="bg-light">商品ID</th>
        <th class="bg-light">商品名</th>
        <th class="bg-light">税抜価格</th>
        <th class="bg-light">ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id)%></td>
      <td><%= item.price.to_s(:delimited)  %></td>
      <% if item.is_active ==true %>
      <th><p class="text-success">販売中</p></th>
    <% else %>
    <th><p class="text-secondary">販売停止中</p></th>
  <% end %>
    </tr>
<% end %>
  </table>
</div>
</div>
<div class="mx-auto" style="width: 250px">
<%= paginate @items %>
</div>