<div class="mx-auto" style="width: 400px">
  <h3>商品新規登録</h3>
   <%= form_with model: @item, url:admin_items_path(@item.id) do |f| %>
  <div class="inputImage">商品画像
    <%= f.file_field :profile_image, placeholder: "商品画像", accept: "pimage/*" %>
    <div class="field">
      <%= f.label :商品名 %>
      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"商品名"%>
    </div>
    <div class="field">
      <%= f.label :商品説明 %>
       <%= f.text_area :introduction, autofocus: true, id:"inputName", placeholder:"商品説明"%>
    </div>
    <div class="field">
      <%= f.label :税抜価格 %>
      <%= f.text_field :price, autofocus: true, id:"inputPrice", placeholder: "1,000" %>円
    </div>
    <label>
      <%= f.label :販売ステータス %>
      <%= f.radio_button :is_active, true %> 販売中
    </label>
    <label><%= f.radio_button :is_active, false %> 販売停止中</label>
    <div class="actions">
      <%= f.submit "新規登録",class: "btn btn-success" %>
    </div>
     <% end %>
  </div>
</div>