<div class="mx-auto" style="width: 400px">
<%= form_with model: @customer, url: 'admin_customers_path', method: :get do |f| %>
<% end %>

  <h3><%= @customer.full_name %>さんの会員詳細</h3>
</div>
  <div>会員ID　　<%= @customer.id %></div>
  <div>氏名　　<%= @customer.full_name %></div>
  <div>フリガナ　<%= @customer.last_name_kana %></div>
  <div>郵便番号　<%= @customer.postal_code %></div>
  <div>住所　<%= @customer.address %></div>
  <div>電話番号　<%= @customer.telephone_number %></div>
  <div>メールアドレス　<%= @customer.email %></div>
  <div>販売ステータス
  <% if @customer.is_deleted==true %>
  　　販売中
  <% else %>
  　　販売停止中
  <% end %>
  </div>
  <div class="action">
    <%= link_to "編集する",  edit_admin_customer_path(@customer.id) ,class: "btn btn-success" %>
    <%= link_to "注文履歴一覧を見る", admin_root_path(@customer.id) ,class: "btn btn-primary" %>
  </div>
</div>