</br>
<div class="mx-auto" style="width: 1200px">
  <div class="container">
    <strong class="p-3 mb-2 bg-light text-dark">
      <%= @customer.full_name %>さんの会員詳細
    </strong>
  </div>  
</div>
<div class="w-10">
  <table>
    <tr><td>　　　　 　会員ID</td>　　　　
    <td><td>        <%= @customer.id %></td></td></tr>
    <tr><td>　　 　　　氏名</td>  　　　　　
    <td><td><%= @customer.full_name %></td></td></tr>
    <tr><td>　 　　　　フリガナ</td>　　　　
    <td><td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td></td></tr>
    <tr><td>　 　　　　郵便番号</td>　　　　
    <td><td><%= @customer.postal_code %></td></td></tr>
    <tr><td> 　　　　　   住所</td>　　　　　　
    <td><td><%= @customer.address %></td></td></tr>
    <tr><td>　　　　　     電話番号</td>　　　　
    <td><td><%= @customer.telephone_number %></td></td></tr>
    <tr><td>　　　　　メールアドレス</td>　    　
    <td><td><%= @customer.email %></td></td></tr>
    <tr><td>　　　　　会員ステータス</th>     
    <th><% if @customer.is_deleted == false %>
    <th class="text-success">有効</th>
  <% else %>
  <th class="text-secondary">退会</th>
<% end %></th></tr>
</table>
</div>
<div class="action">
    　　　　　　　　　　　　　　　　　　　<%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
　　　　　<%= link_to "注文履歴一覧を見る", admin_root_path(@customer.id), class: "btn btn-primary" %>
</div>