<div class="mx-auto" style="width: 600px">
<div class='p-top'>
      <p class='p-top__item'>
        <h6>ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
        </h6>
      </p>
</div>


<h1>新着商品</h1>
<div class="row">
  <% @items.each do |item| %>
   <div class="col-md-6">
  <div><%= @item.name %></div>
  <div><%= @item.price %>円</div>
  </div>
  <% end %>
  </div>

<%= link_to "全ての商品を見る>", items_path %>

</div>

<ul class="nav pull-right nav-pills">
     <li><%= link_to "Home",    '#' %></li>
     <li><%= link_to "Help",    '#' %></li>
     <li><%= link_to "Sign in", '#' %></li>
</ul>