

<div class="container">
    <h3>ショッピングカート</h3>
       <div class="row">
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
                        <th>商品名</th>
                        <th>単価（税込）</th>
                        <th>数量</th>
                        <th>小計</th>

                        <th colspan="3"></th>
                    </tr>
      </thead>
        <% @cart_items.each do |cart_item| %>
                        <div class="col-md-6">
              <tr>
                  
                  <td><%= cart_item %></td>
                   <td><%= item_id.item.with_tax_price %></td>
                   <!--<td><%#= cart_item.item.with_tax_price %></td>-->
                   <td><%= cart_item.subtotal %></td>
                   <% @合計金額 +=  cart_item.subtotal %>
          
          
                     <td>><%= item_id %></</td>
                     <td><%= cart_item.item.with_tax_price%></td>
                        <td><%= cart_item.subtotal%></td>
                         <% @合計金額 +=  cart_item.subtotal %>
                   <td></td>

             </tr>
                           </div>
              <% end %>

    </table>
        </div>
</div>

</div>



合計金額

買い物を続ける

情報入力に進む

カートを空にする


  <div class="mx-auto" style="width: 400px">
 <%= paginate @cart_items %>
 </div>









          <!--<td>><%#= order.name %></</td>-->
          <td><%#= (cart_item.item.price * 1.1).floor %></td>
          <!--<td><%#= cart_item.item.with_tax_price%></td>-->
          <td><%#= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
          <!--<td></td>-->
          <!--<td><%#= cart_item.subtotal%></td>-->
          <!--% @合計金額 +=  (cart_item.item.price * 1.1).floor * cart_item.amount %-->
          <!--<%# @合計金額 +=  cart_item.subtotal %>-->