<div class="container">
<h1>注文情報確認</h1>
  <div class="row">
    <div class="col-xs-8">
      <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <tr><%= image_tag cart_item.item.image, size: "70x50" %><%= cart_item.item.name %></tr>
              <%#= attachment_image_tag cart_item.item, :image, fallback: "no_image.jpg", size:"80x50" %>
              <%= cart_item.item.name %>
          </td>
          <td><%= (cart_item.item.price * 1.1).floor.to_s(:delimited) %></td>
          <td><%= cart_item.amount %></td>
          <td><%= (cart_item.item.price * cart_item.amount * 1.1).floor.to_s(:delimited) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
      <%= form_with model: @order, url: orders_path, local: true do |f| %>
    <div class="col-xs-3">
        <table class="table">
          <tbody>
            <tr>
              <td class="confirm-td">送料</td>
              <td>
                <%= @order.postage.to_s(:delimited) %>
                  <%= f.hidden_field :postage, :value => @order.postage %>
              </td>
            </tr>
            <tr>
              <td class="confirm-td">商品合計</td>
              <td>
                <%= @total_price.to_s(:delimited) %>
              </td>
            </tr>
            <tr>
              <td class="confirm-td">請求金額</td>
              <td>
                <%= (@total_price + 800).to_s(:delimited) %>
                <%= f.hidden_field :total_fee, :value => (@total_price + 800) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row">
    <h3>支払方法</h3></br>
    <h4><%= (@order.payment_method == 0) ? "クレジットカード" : "銀行振込" %></h4>

      <h4><%= @order.payment_method %></h4>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %></br>
    <h3>お届け先</h3>
    <h4><%#= @order. postage %></h4>
    <%#= f.hidden_field :postage, :value => @order.postage %>
      <%= @order.postage.to_s.insert(3, "-") %></br>
      <%= f.hidden_field :name, :value => @order.name %>
      <%#= f.hidden_field :address, :value => @order.address %>
      <%#= @order.address %></br>
      <%= @order.name %></br>
      <%= f.hidden_field :name, :value => @order.name %>

  </div>
    <!--div class="text-center">
      <%#= f.submit "購入を確定する", class: "btn btn-success btn-lg text-center" %>
    </div-->
    <% end %>
    </div>
</div>
<!-- ユーザーには注文確定ボタンだけ表示します -->
<!--<%#= form_with model: @order, url:orders_thanks_path, local: true do |f| %>-->
<!--  <%#= f.hidden_field :name %>-->
<!--  <%#= f.hidden_field :address %>-->
<!--  <%#= f.hidden_field :total_price, value: @total %>-->
<!--  <%#= f.submit "注文を確定する" %>-->
<!--<#% end %>-->

<!--<h1>予約フォーム</h1>-->

<!--<ol class="nav">-->
<!-- <li class="current">1.入力</li>-->
<!-- <li>2.確認</li>-->
<!-- <li>3.完了</li>-->
<!--</ol>-->

<!--<#%= form_for @reserve, method: :post, url: reserve_confirm_path do |form| %>-->
<!-- <dl>-->
<!--  <dt>希望日</dt>-->
<!--  <dd><#%= form.text_field :reserve_date %></dd>-->
<!--  <dt>名前</dt>-->
<!--  <dd><#%= form.text_field :name %></dd>-->
<!--  <dt>備考</dt>-->
<!--  <dd><#%= form.text_field :note %></dd>-->
<!-- </dl>-->

<!-- <%#= form.submit '確認画面へ' %>-->
<!--<#% end %>-->


<!--<h2>注文確認画面</h2>-->
<!--  <#%= @order.amount %>-->
<!--  <#%= @order.quantity %>-->
<!--  <#%= @item.name %>-->
<!--  <#%= @item.price %>-->
<!--<#%= form_with model:[@item, @order], url:(item_order_path) do |f| %>-->
<!--  <#%= f.hidden_field :amount %>-->
<!--  <#%= f.hidden_field :quantity %>-->
<!--  <#%= f.submit %>-->
<!--<#% end %>-->








        <%#= form_with model: @order, url:orders_thanks_path, local: true do |f| %>

    <!--<div class="col-4">-->
    <!--  <table class="table">-->
    <!--    <tbody>-->
    <!--      <tr>-->
    <!--        <th>送料</th>-->

    <!--          <td class="confirm-td">送料</td>-->
    <!--          <td>-->
    <!--              <%#= @order.postage.to_s(:delimited) %>-->
    <!--              <%#= f.hidden_field :postage, :value => @order.postage %>-->
    <!--          </td>-->
    <!--        <td><%#= @order.postage.to_i %></td>-->
    <!--      </tr>-->
    <!--      <tr>-->
    <!--        <th>商品合計</th>-->
    <!--        <td><%#= @total_price.to_s(:delimited, delimiter: ',')  %></td>-->
    <!--      </tr>-->
    <!--      <tr>-->
    <!--        <th>請求金額</th>-->
    <!--        <td><%#=  @order.total_payment.to_s(:delimited, delimiter: ',') %></td>-->
    <!--      </tr>-->
    <!--    </tbody>-->
    <!--  </table>-->
    <!--</div>-->
      <%# end %>
      
<%#= @order.payment_method_i18n %>

<%= form_with model: @order, url: orders_path do |f| %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %>
<%= f.hidden_field :postage, :value => @order.postage %>
<%#= f.hidden_field :address, :value => @order.address %>
<%= f.hidden_field :name, :value => @order.name %>
<%= f.hidden_field :customer_id, :value => @order.customer_id %>
<%= f.hidden_field :total_payment, :value => @order.total_payment %>
<%= f.hidden_field :postage, :value => @order.postage %>
<%= f.submit "注文を確定する", class:"btn btn-success" %>
<% end %>














<!--<h2>注文情報確認</h2>-->
<!--<div class="row">-->
<!--    <div class="col-md-7">-->
<!--      <table class="table">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th scope="col">商品名</th>-->
<!--            <th scope="col">単価（税込）</th>-->
<!--            <th scope="col">数量</th>-->
<!--            <th scope="col">小計</th>-->
<!--          </tr>-->
<!--        </thead>-->
        
<!--        <tbody>-->
<!--          <#% @cart_items.each do |cart_item| %>-->
<!--          <tr>-->
<!--            <th scope="row">-->
<!--              <tr><%#= image_tag cart_item.item.image, size: "70x50" %><%#= cart_item.item.name %></tr>-->
              <%#= attachment_image_tag(cart_item.item, :image,size: "300x217", fallback: "no_image.jpg") %><%#= cart_item.item.name %></th>
<!--            <td><%#= cart_item.item.price %></td>-->
<!--            <td><%#= cart_item.amount %></td>-->
<!--            <td><%#= cart_item.item.price * 1.1 * cart_item.amount.to_i %></td>-->
<!--          </tr>-->
<!--          <#% end %>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--      <div class="col-md-5">-->
<!--        <table class="table">-->
<!--          <tbody>-->
<!--            <tr>-->
<!--              <td>送料</td>-->
<!--              <td><%#= 800 %></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>商品合計</td>-->
<!--              <td><%#= @sum %></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>請求合計</td>                              -->
<!--              <%#= (@total_price + 800).to_s(:delimited) %>-->
              <td><%#= @sum + 800 %></td>
<!--            </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
<!--<h3>支払方法<%#= (@order.payment_method == 0) ? "クレジットカード" : "銀行振り込み" %></h3>-->

<!--h3>お届け先<%#= @order.address %></h3>
<!--<%#= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>-->
<!--create確認用-->
<!--<%#= f.hidden_field :customer_id %>-->
<!--<#%= f.hidden_field :postal_code %>-->
<!--<%#= f.hidden_field :address %>-->
<!--<%#= f.hidden_field :name %>-->
<!--<%#= f.hidden_field :freight %>-->
<!--<#%= f.hidden_field :total_fee, :value => (@total_price + 800) %>-->
<%#= f.hidden_field :billing_amount, :value => @sum+800 %>
<!--<%#= f.hidden_field :payment_method %>-->
<!--<%#= f.submit "注文を確定する", class:"btn btn-success col-md-3" %>-->
<!--<#% end %>-->