確認


<% @cart_items.each do |cart| %>
  <%= cart.item.name %> <!-- 商品名 -->
  <%= (cart.item.price).to_s(:delimited) %>　<!-- 金額 -->
  <%= cart.quantity %> <!-- 個数 -->
  <%= (cart.item.price*cart.quantity).to_s(:delimited) %> <!-- 小計 -->
<% end %>
<p>ご請求金額</p>

<%= 1234567890.to_s(:delimited) %> <!-- お買い物の合計金額 -->
<p>お届け先</p>
<%#= @order.address %>

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, url: 'cart_items', local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>


#下違うかも

<% @cart_items.each do |cart| %>
  <%= cart.item.name %> <!-- 商品名 -->
  <%= (cart.item.price).to_s(:delimited) %>　<!-- 金額 -->
  <%= cart.quantity %> <!-- 個数 -->
  <%= (cart.item.price*cart.quantity).to_s(:delimited) %> <!-- 小計 -->
<% end %>
<p>ご請求金額</p>
<%= @total.to_s(:delimited) %> <!-- お買い物の合計金額 -->
<p>お届け先</p>
<%= @order.address %>

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, url: create へのパス, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>

<!--<h1>予約フォーム</h1>-->

<!--<ol class="nav">-->
<!--	<li class="current">1.入力</li>-->
<!--	<li>2.確認</li>-->
<!--	<li>3.完了</li>-->
<!--</ol>-->

<!--<#%= form_for @reserve, method: :post, url: reserve_confirm_path do |form| %>-->
<!--	<dl>-->
<!--		<dt>希望日</dt>-->
<!--		<dd><#%= form.text_field :reserve_date %></dd>-->
<!--		<dt>名前</dt>-->
<!--		<dd><#%= form.text_field :name %></dd>-->
<!--		<dt>備考</dt>-->
<!--		<dd><#%= form.text_field :note %></dd>-->
<!--	</dl>-->

<!--	<%#= form.submit '確認画面へ' %>-->
<!--<#% end %>-->


<!--<h2>注文確認画面</h2>-->
<!--  <#%= @order.amount %>-->
<!--  <#%= @order.quantity %>-->
<!--  <#%= @item.name %>-->
<!--  <#%= @item.price %>-->
<!--<#%= form_with model:[@item, @order], url:(item_order_path) do |f| %>-->
<!--  <#%= f.hidden_field :amount %>-->
<!--  <#%= f.hidden_field :quantity %>-->
<!--  <#%= f.submit %>-->
<!--<#% end %>-->