<div class="mx-auto" style="width: 1000px">
	<div class="container">
		<span class="p-3 mb-2 bg-light text-dark">注文情報確認
		</span>
	</div>
</div>
</br>
<div class="container">
	<div class="row">
		<div class="col-7">
			<table class="table table-bordered">
				<thead class="bg-light">
					<tr>
						<td class="text-left">商品名</td>
						<td class="text-left">単価（税込）</td>
						<td class="text-left">数量</td>
						<td class="text-left">小計</td>
					</tr>
					<tbody>
						<% sum = 0 %>
						<% @cart_items.each do |cart_item| %>
						<th class="text-left">
						<%= image_tag cart_item.item.image,size: "60x50" if cart_item.item.image.present? %>
						<%= cart_item.item.name %>
						</th>
						<td class="text-left"><%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %></td>
						<%= form_with model: cart_item, url: cart_item_path(cart_item) do |f| %>
						<td class="text-left"><%= cart_item.amount %></td>
						<% end %></td>
						<td class="text-left"><%= (cart_item.item.with_tax_price*cart_item.amount).to_s(:delimited, delimiter: ',') %></td>
						<% sum += cart_item.item.with_tax_price*cart_item.amount %>
					</tbody>
				<% end %>
				</thead>
			</table>
		</div>
		<div class='col-md-5'>
			<table class="table col-5 table-bordered">
				<div class="row">
					<thead>
						<tr>
							<td class="bg-light">送料</td>
							<td class="text-left"><%= @order.postage.to_s(:delimited) %></td>
						</tr>
						<tr>
							<td class="bg-light">商品合計</td>
							<td><%= sum.floor.to_s(:delimited) %></td>
						</tr>
						<tr>
							<td class="bg-light">請求金額</td>
							    <td><%= (sum + 800).to_s(:delimited) %></td>
						</tr>
					</thead>
				</div>
			</table>
		</div>
	</div>
</div>
<div class='container px-5 px-sm-0'>
	<div class='row'>
		<div class='col-md-3'>
		</div>
	</div>
</div>
<%= form_with model: @order, url: orders_path, local: true do |f| %>
　　　<strong>支払方法</strong>　<%= @order.payment_method %><%= f.hidden_field :payment_method, :value => @order.payment_method %></br>
　　　<strong>お届け先</strong>　〒<%= @order. postal_code %><%= f.hidden_field :postal_code, :value => @order.postal_code %>
<%= @order.address %>　<%= f.hidden_field :address, :value => @order.address %></br>
　　　　　　　　<%= @order.name %>　<%= f.hidden_field :name, :value => @order.name %>
<% end %>
<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col-10 ">
			<div class="text-center">
				<%= form_with model: @order, url: orders_path, method: :post do |f| %>
				<%= f.hidden_field :payment_method, :value => @order.payment_method %>
				<%= f.hidden_field :postal_code, :value => @order.postal_code %>
				<%= f.hidden_field :address, :value => @order.address %>
				<%= f.hidden_field :name, :value => @order.name %>
				<%= f.hidden_field :customer_id, :value => @order.customer_id %>
				<%= f.hidden_field :total_payment, :value => @order.total_payment %>
				<%= f.hidden_field :postage, :value => @order.postage %>
				<%= f.hidden_field :total_fee, :value => (sum + 800) %>
				<%= f.submit "注文を確定する", class:"btn btn-success" %>
				<% end %>
			</div>
		</div>
	</div>
</div>