<div class="container">
<h1>注文情報確認</h1>
  <div class="row">
    <div class="col-xs-8">
      <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% @cart_products.each do |cart_product| %>
        <tr>
          <td>
              <%= attachment_image_tag cart_product.product, :image, fallback: "no_image.jpg", size:"80x50" %>
              <%= cart_product.product.name %>
          </td>
          <td>¥<%= (cart_product.product.price * 1.1).floor.to_s(:delimited) %>円</td>
          <td><%= cart_product.amount %></td>
          <td>¥<%= (cart_product.product.price * cart_product.amount * 1.1).floor.to_s(:delimited) %>円</td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    <%= form_with model: @order, url: orders_path, local: true do |f| %>
    <div class="col-xs-3">
        <table class="table">
          <tbody>
            <tr>
              <td class="confirm-td">送料</td>
              <td>
                  ¥<%= @order.shipping.to_s(:delimited) %>円
                  <%= f.hidden_field :shipping, :value => @order.shipping %>
              </td>
            </tr>
            <tr>
              <td class="confirm-td">商品合計</td>
              <td>
                ¥<%= @total_price.to_s(:delimited) %>円
              </td>
            </tr>
            <tr>
              <td class="confirm-td">請求金額</td>
              <td>
                ¥<%= (@total_price + 800).to_s(:delimited) %>円
                <%= f.hidden_field :total_fee, :value => (@total_price + 800) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row">
    <h3>支払方法</h3>
      <h4><%= @order.payment %></h4>
      <%= f.hidden_field :payment, :value => @order.payment %></br>
    <h3>お届け先</h3>
      <%= @order.postcode.to_s.insert(3, "-") %></br>
      <%= f.hidden_field :postcode, :value => @order.postcode %>
      <%= @order.city %></br>
      <%= f.hidden_field :city, :value => @order.city %>
      <%= @order.name %></br>
      <%= f.hidden_field :name, :value => @order.name %>

  </div>
    <div class="text-right">
      <%= link_to "情報入力へ戻る", new_order_path %>
    </div>
    <div class="text-center">
      <%= f.submit "購入を確定する", class: "btn btn-success btn-lg text-center" %>
    </div>
    <% end %>
</div>







確認


<% @cart_items.each do |cart| %>
  <%= cart.item.name %> <!-- 商品名 -->
  <%= (cart.item.price).to_s(:delimited) %>　<!-- 金額 -->
  <%= cart.quantity %> <!-- 個数 -->
  <%= (cart.item.price*cart.quantity).to_s(:delimited) %> <!-- 小計 -->
<% end %>
<p>ご請求金額</p>

<%= 1234567890.to_s(:delimited) %> <!-- お買い物の合計金額 -->
<p>お届け先</p>
<%#= @order.address %>

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, url: 'cart_items', local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>


#下違うかも

<% @cart_items.each do |cart| %>
  <%= cart.item.name %> <!-- 商品名 -->
  <%= (cart.item.price).to_s(:delimited) %>　<!-- 金額 -->
  <%= cart.quantity %> <!-- 個数 -->
  <%= (cart.item.price*cart.quantity).to_s(:delimited) %> <!-- 小計 -->
<% end %>
<p>ご請求金額</p>
<%= @total.to_s(:delimited) %> <!-- お買い物の合計金額 -->
<p>お届け先</p>
<%= @order.address %>

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, url: create へのパス, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>

<!--<h1>予約フォーム</h1>-->

<!--<ol class="nav">-->
<!-- <li class="current">1.入力</li>-->
<!-- <li>2.確認</li>-->
<!-- <li>3.完了</li>-->
<!--</ol>-->

<!--<#%= form_for @reserve, method: :post, url: reserve_confirm_path do |form| %>-->
<!-- <dl>-->
<!--  <dt>希望日</dt>-->
<!--  <dd><#%= form.text_field :reserve_date %></dd>-->
<!--  <dt>名前</dt>-->
<!--  <dd><#%= form.text_field :name %></dd>-->
<!--  <dt>備考</dt>-->
<!--  <dd><#%= form.text_field :note %></dd>-->
<!-- </dl>-->

<!-- <%#= form.submit '確認画面へ' %>-->
<!--<#% end %>-->


<!--<h2>注文確認画面</h2>-->
<!--  <#%= @order.amount %>-->
<!--  <#%= @order.quantity %>-->
<!--  <#%= @item.name %>-->
<!--  <#%= @item.price %>-->
<!--<#%= form_with model:[@item, @order], url:(item_order_path) do |f| %>-->
<!--  <#%= f.hidden_field :amount %>-->
<!--  <#%= f.hidden_field :quantity %>-->
<!--  <#%= f.submit %>-->
<!--<#% end %>-->










    <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr><%= image_tag cart_item.item.image, size: "70x50" %><%= cart_item.item.name %></tr>
          <tr><%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %></tr>
          <tr><%= cart_item.amount %></tr>
          <tr><%= ((cart_item.item.with_tax_price)*(cart_item.amount)).to_s(:delimited, delimiter: ',') %></tr>
          <% end %>
        </tbody>
      </div>
    </div>
    <div class="col-4">
      <table class="table">
        <tbody>
          <tr>
            <th>送料</th>
            <td><%= @order.shipping_cost.to_i %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td><%= @total_price.to_s(:delimited, delimiter: ',')  %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td><%=  @order.total_payment.to_s(:delimited, delimiter: ',') %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h5>支払方法</h5>
<%= @order.payment_method_i18n %>
<h5>お届け先</h5>
〒<%= @order.postal_code %>
<%= @order.address %>
<%=  @order.name %>

<%= form_with model: @order, url: public_orders_path do |f| %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %>
<%= f.hidden_field :postal_code, :value => @order.postal_code %>
<%= f.hidden_field :address, :value => @order.address %>
<%= f.hidden_field :name, :value => @order.name %>
<%= f.hidden_field :customer_id, :value => @order.customer_id %>
<%= f.hidden_field :total_payment, :value => @order.total_payment %>
<%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
<%= f.submit "注文を確定する", class:"btn btn-success" %>
<% end %>

























































商品履歴詳細


<div class="container">
  <div class="row">
    <h1>注文履歴詳細</h1>
    <div class="col-xs-8">
      <b>注文情報</b>
        <table class="table order-show-table">
          <tbody>
            <tr>
                <td class="active">注文日</td>
                <!--<td><%#= @order.created_at.to_s(:datetime_jp) %></td>-->
            </tr>
            <!--<tr>-->
            <!--    <td class="active">配送先</td>-->
            <!--    <td>-->
            <!--        <%#= @order.postcode %>-->
            <!--        <%#= @order.city %>-->
            <!--        <%#= @order.name %>-->
            <!--    </td>-->
            <!--</tr>-->
            <tr>
                <td class="active">支払方法</td>
                <!--td><%#= @order.payment %></td-->
            </tr>
            <!--<tr>-->
            <!--    <td class="active">注文ステータス</td>-->
            <!--    <td><%#= @order.status %></td>-->
            <!--</tr>-->
          </tbody>
        </table>
    </div>
    <div class="col-xs-3">
      <b>請求情報</b>
        <table class="table order-show-table">
          <tbody>
            <tr>
                <td class="active">商品合計</td>
                <!--<td>¥<%#= (@order.total_fee - @order.shipping).to_s(:delimited) %></td>-->
            </tr>
            <tr>
              <td class="active">配送料</td>
              <td>¥<%#= @order.shipping %></td>
            </tr>
            <tr>
              <td class="active"><b>ご請求額</b></td>
              <!--<td>¥<%#= "#{@order.total_fee.to_s(:delimited)}"%></td>-->
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div class="col-xs-8">
    <b>注文内容</b>
    <table class="table order-show-table">
      <thead>
        <tr>
          <th class="active col-xs-6">商品</th>
          <th class="active">単価（税込）</th>
          <th class="active">個数</th>
          <th class="active">小計</th>
        </tr>
      </thead>
      <!--<tbody>-->
      <!--  <#% @order_details.each do |order_detail| %>-->
      <!--    <tr>-->
      <!--      <td><%#= order_detail.product.name %></td>-->
      <!--      <td>¥<%#= (order_detail.price * 1.1).floor.to_s(:delimited) %></td>-->
      <!--      <td><%#= order_detail.amount %></td>-->
      <!--      <td>¥<%#= (order_detail.price * order_detail.amount * 1.1).floor.to_s(:delimited) %></td>-->
      <!--    </tr>-->
      <!--  <3% end %>-->
      <!--</tbody>-->
    </table>
  </div>
</div>











  <!--<td><%#= @order.created_at.strftime('%Y/%m/%d') %></td>-->
    <tr>
      <th>配送先</th>
      <td>
        <!--<#%= @order.postal_code %>-->
        <!--<%#= @order.name %>-->
      </td>
    </tr>
    <tr>
      <th>支払方法</th>
      <!--<td><%#= @order.payment_method %></td>-->
    </tr>
    <tr>
      <th>ステータス</th>
      <td></td>
    </tr>
  </tbody>
</div>

<h6>請求情報</h6>
<tbody>
  <tr>
    <th>商品合計</th>
    <!--<td><%#= (@order.total_payment - @order.shipping_cost).to_s(:delimited, delimiter: ',') %></td>-->
  </tr>
  <tr>
    <th>配送料</th>
    <!--<td><%#= @order.shipping_cost %></td>-->
  </tr>
  <tr>
    <th>ご請求額</th>
    <!--<td><%#= (@order.total_payment + @order.shipping_cost).to_s(:delimited, delimiter: ',') %></td>-->
  </tr>
</tbody>

<h6>注文内容</h6>
<thead>
  <tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
</thead>
<!--<tbody>-->
<!--  <tr>-->
<!--    <%# @ordering_details.each do |ordering_detail| %>-->
<!--    <td><%#= ordering_detail.item.name %></td>-->
<!--    <td><%#= ordering_detail.price.to_s(:delimited, delimiter: ',')  %></td>-->
<!--    <td><#%= ordering_detail.amount %></td>-->
<!--    <td><#%= (ordering_detail.price * ordering_detail.amount).to_s(:delimited, delimiter: ',') %></td>-->
<!--    <#% end %>-->
<!--  </tr>-->







確認


<!--<#% @cart_items.each do |cart_item| %>-->
<!--  <%#= cart.item.name %> <!-- 商品名 -->-->
<!--  <%#= (cart.item.price).to_s(:delimited) %>　<!-- 金額 -->-->
<!--  <%#= cart.quantity %> <!-- 個数 -->-->
<!--  <%#= (cart.item.price*cart.quantity).to_s(:delimited) %> <!-- 小計 -->-->
<!--<#% end %>-->
<p>ご請求金額</p>

<%= 1234567890.to_s(:delimited) %> <!-- お買い物の合計金額 -->
<p>お届け先</p>
<%#= @order.address %>

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, url: 'cart_items', local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>


#下違うかも

<!--<#% @cart_items.each do |cart| %>-->
<!--  <%#= cart.item.name %> <!-- 商品名 -->-->
<!--  <%#= (cart.item.price).to_s(:delimited) %>　<!-- 金額 -->-->
<!--  <%#= cart.quantity %> <!-- 個数 -->-->
<!--  <%#= (cart.item.price*cart.quantity).to_s(:delimited) %> <!-- 小計 -->-->
<!--<#% end %>-->
<!--<p>ご請求金額</p>-->
<!--<%#= @total.to_s(:delimited) %> <!-- お買い物の合計金額 -->-->
<!--<p>お届け先</p>-->
<!--<%#= @order.address %>-->

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, url: orders_thanks_path, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_price, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>

<!--<h1>予約フォーム</h1>-->

<!--<ol class="nav">-->
<!--	<li class="current">1.入力</li>-->
<!--	<li>2.確認</li>-->
<!--	<li>3.完了</li>-->
<!--</ol>-->

<!--<#%= form_for @reserve, method: :post, url: reserve_confirm_path do |form| %>-->
<!--	<dl>-->
<!--		<dt>希望日</dt>-->
<!--		<dd><#%= form.text_field :reserve_date %></dd>-->
<!--		<dt>名前</dt>-->
<!--		<dd><#%= form.text_field :name %></dd>-->
<!--		<dt>備考</dt>-->
<!--		<dd><#%= form.text_field :note %></dd>-->
<!--	</dl>-->

<!--	<%#= form.submit '確認画面へ' %>-->
<!--<#% end %>-->


<!--<h2>注文確認画面</h2>-->
<!--  <#%= @order.amount %>-->
<!--  <#%= @order.quantity %>-->
<!--  <#%= @item.name %>-->
<!--  <#%= @item.price %>-->
<!--<#%= form_with model:[@item, @order], url:(item_order_path) do |f| %>-->
<!--  <#%= f.hidden_field :amount %>-->
<!--  <#%= f.hidden_field :quantity %>-->
<!--  <#%= f.submit %>-->
<!--<#% end %>-->










    <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        <!--</thead>-->
        <!--<tbody>-->
        <!--  <#% @cart_items.each do |cart_item| %>-->
        <!--  <tr><%#= image_tag cart_item.item.image, size: "70x50" %><%#= cart_item.item.name %></tr>-->
        <!--  <tr><%#= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %></tr>-->
        <!--  <tr><%#= cart_item.amount %></tr>-->
        <!--  <tr><%#= ((cart_item.item.with_tax_price)*(cart_item.amount)).to_s(:delimited, delimiter: ',') %></tr>-->
        <!--  <#% end %>-->
        <!--</tbody>-->
      </div>
    </div>
    <div class="col-4">
      <table class="table">
        <tbody>
          <tr>
            <th>送料</th>
            <!--<td><%#= @order.shipping_cost.to_i %></td>-->
          </tr>
          <tr>
            <th>商品合計</th>
            <!--td><%#= @total_price.to_s(:delimited, delimiter: ',')  %></td-->
          </tr>
          <!--<tr>-->
          <!--  <th>請求金額</th>-->
            <!--<td><%#=  @order.total_payment.to_s(:delimited, delimiter: ',') %></td>-->
          <!--</tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>

<h5>支払方法</h5>
<%#= @order.payment_method_i18n %>
<!--<h5>お届け先</h5>-->
<!--〒<%#= @order.postal_code %>-->
<!--<%#= @order.address %>-->
<!--<%#=  @order.name %>-->

<%= form_with model: @order, url: public_items_path do |f| %>
<!--<%#= f.hidden_field :payment_method, :value => @order.payment_method %>-->
<!--<%#= f.hidden_field :postal_code, :value => @order.postal_code %>-->
<!--<%#= f.hidden_field :address, :value => @order.address %>-->
<!--<%#= f.hidden_field :name, :value => @order.name %>-->
<!--<%#= f.hidden_field :customer_id, :value => @order.customer_id %>-->
<!--<%#= f.hidden_field :total_payment, :value => @order.total_payment %>-->
<!--<%#= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>-->
<%= f.submit "注文を確定する", class:"btn btn-success" %>
<% end %>
