  <div class="mx-auto" style="width: 1000px">
     <div class="container">
       <span class="text-light bg-secondary px-3">注文履歴一覧
       </span>
     </div>
  </div>
<div class="container">
  <div class="row">
        <table class="table col-12 table-bordered">
          <thead class="bg-light">
            <tr>
              <th class="text-left">注文日</th>
              <th class="text-left">配送先</th>
              <th class="text-left">注文商品</th>
              <th class="text-left">支払金額</th>
              <th class="text-left">ステータス</th>
              <th class="text-left">注文詳細</th>
            </tr>
          
          </thead>
          
              <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.created_at.to_s(:datetime) %></td>
          <td>
            〒<%= order.postal_code %><br/>
            <%= order.address %><br/>
            <%= order.name %></br>
            <%#= item.order.name %>
          </td>
          <td>
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %>
            <% end %>
          </td>
          <td><%= "#{order.total_payment.to_s(:delimited)}" %>円</td>
          <td><%= order.status %></td>
          <%= form_with model: @order, url: orders_path, method: :post do |f| %>
          <td><%= link_to '表示する', orders_path(order.id),class:"btn btn-primary" %></td>
              <% end %>
        </tr>
      </tbody>
    <% end %>
           </table>　　　　　　　
      </div>
</div>
    <%= paginate @orders %>
