<div class="mx-auto" style="width: 1000px">
	<div class="container">
	  <span class="p-3 mb-2 bg-light text-dark">注文履歴一覧！
	  </span>
	</div>
</div>
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="text-left">
				<!--<div class=".container-md">-->
				<!--<div class="row-md">-->
				<table class="col-lg table-bordered">
					<thead class="bg-light">
						<tr>
							<td class="text-left">注文日</td>
							<td class="text-left">配送先</td>
							<td class="text-left">注文商品</td>
							<td class="text-left">支払金額</td>
							<td class="text-left">ステータス</td>
							<td class="text-left">注文詳細</td>
						</tr>
					</thead>
					<% @orders.each do |order| %>
					<tbody>
						<tr>
							<td>
								<%= order.created_at.strftime('%Y/%m/%d') %>
							</td>
							<td>
								〒<%= order.postal_code %><br/>
								<%= order.address %><br/>
								<%= order.name %></br>
								<%#= item.order.name %>
							</td>
							<td>
								<% order.order_details.each do |order_detail| %>
								<%= order_detail.item.name %></br>
								<% end %>
							</td>
							<td><%= "#{order.total_payment.to_s(:delimited)}" %>円</td>
							<td><%= order.status %></td>
							<%= form_with model: @order, url: orders_url, method: :post do |f| %>
							<td><%= link_to '表示する', order_path(order),class:"btn btn-primary" %></td>
							<% end %>
						</tr>
					</tbody>
					<!--</thead>-->
					<% end %>
				</table>
				　
			</div>
		</div>
	</div>
</div>
<%= paginate @orders %>