<div class="container">
    <h3>注文履歴一覧</h3>
       <div class="row">
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
                        <th>購入日時</th>
                        <th>購入者</th>
                        <th>注文個数</th>
                        <th>注文ステータス</th>
                        <th colspan="3"></th>
                    </tr>
      </thead>
                          <% @orders.each do |order| %>
              <tr>
                  <td><%= @order.created_at %></td>
                  <td><%= @order.name %></td>
                  <td><%= link_to order.created_at, public_orders_path(order.id)%></td>
                  <td><%= order.quantity %></td>
                  <td><%= order.making_status %></td>

       
       </tr>
              <% end %>
              <%= paginate @orders %>


    </table>
        </div>

</div>

