<div class="mx-auto" style="width: 1000px">
	<div class="container">
		<span class="text-light bg-secondary px-3">注文履歴詳細
		</span>
	</div>
</div>
<div class="container">
	<div class="row-right">
		<b>注文情報</b>
		<table class="table col-8 table-bordered">
			<tr>
				<td class="text-left">注文日</td>
				<td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
			</tr>
			<tr>
				<td class="text-left">配送先
				</td>
				<td class="text-left">
					〒<%= @order.postal_code %></br>
					<%= @order.address %></br>
					<%= @order.name %>
				</td>
			</tr>
			<tr>
				<td class="text-left">支払方法
				</td>
				<td><%= @order.payment_method %>
				</td>
			</tr>
			<tr>
				<td class="text-left">ステータス</td>
				<td><%= @order.status %></td>
			</tr>
		</table>
		<!--<table class="table col-8 table-bordered">
			<div class="container">
				<p class="text-right">
					<b>
						請求情報
				<table border="1" align="right" width="200" height="90">
				<tr align="right">
				<td valign="top">右上</td>
				</tr>
				</table>
				</b>
				</p>
			</div>-->
		<% sum = 0 %>
		<b>注文内容</b>
		<table class="table col-7 table-bordered">
			<thead>
				<tr>
					<td class="text-left">商品</td>
					<td class="text-left">単価（税込）</td>
					<td class="text-left">個数</td>
					<td class="text-left">小計</td>
				</tr>
			</thead>
			<tbody>
				<% @order_details.each do |order_detail| %>
				<% sum += (order_detail.price * order_detail.quantity * 1.1) %>
				<tr>
					<td><%= order_detail.item.name %></td>
					<td><%= (order_detail.price * 1.1).floor.to_s(:delimited) %></td>
					<td><%= order_detail.quantity %></td>
					<td><%= (order_detail.price * order_detail.quantity * 1.1).floor.to_s(:delimited) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table col-4 table-bordered">
			<tr>
				<td class="text-left">
				    商品合計
				</td>
				<!--td><%#= sum.floor.to_s(:delimited) %>円</td-->
				<!--td><#%= (@order.total_payment - @order.postage).to_s(:delimited) %>
					</td-->
				<!--td><%#= sum.floor.to_s(:delimited) %></td-->
				<td><%= sum.floor.to_s(:delimited) %></td>
			</tr>
			<tr>
				<td class="text-left">
				    配送料
				</td>
				<td><%= @order.postage %>
				</td>
			</tr>
			<tr>
				<td class="text-left">
				    ご請求額
				</td>
				<!--td><%#= "#{@order.total_payment.to_s(:delimited)}"%>
					</td-->
				<td><%= (sum +@order.postage).floor.to_s(:delimited) %></td>
				<%#= (sum +@order.postage).floor.to_s(:delimited) %>
				<%#= @order.sum_of_order_price %>
				<!--td><%#= (@order.total_payment + @order.total_payment).to_s(:delimited, delimiter: ',') %></td-->
			</tr>
		</table>
	</div>
</div>