
		<!--<div class="col-lg-13 mx-auto">-->
<div class="container"> 
 <!--<div class="row">-->
  			   <h1>商品一覧</h1>

   <p id="notice"><%= notice %>
   </p>
   <div class="col-lg-8 mx-auto">
     <div class="row">
       <% @items.each do |item| %>
       <div class="col-3">
         <%= link_to item_path(item) do %>
         <div><% if item.image.attached? %>
         <%= image_tag item.image, size: "90x90" %>
         <% else %>
         <%= image_tag 'no_image', size: "90x90" %>
         <% end %>
         <p>
           <%= item.name %>
          </p>
           <p>
             ¥<%= item.price.to_s(:delimited) %>
            </p>
         </div>
             <% end %>
        </div>
             <% end %>
     </div>
    </div>
 <!--</div>-->
</div>
 <!--</div>-->

             <div class="mx-auto" style="width: 100px">
                  <!--<p class="text-center">-->
                   <%= paginate @items %>
                   <!--</p>-->
              </div>