<div class="mx-auto" style="width: 600px">

<h1>商品一覧</h1>
<% @items.each do |item| %>
   <div><% if item.image.attached? %>
  <%= image_tag item.image, size: "90x90" %>
<% else %>
  <%= image_tag 'no_image', size: "90x90" %>
<% end %>
</div>
<div><%= item.name %></div>
<div><%= item.price %>円</div>
<% end %>
<%= link_to "全ての商品を見る>", items_path %>
</div>