


  <!--  <div style="text-align:center">-->
    <!--<%#= link_to "カートに入れる",  cart_items_path(@item.id) ,class: "btn btn-success" %>-->
  <!--</div>-->
  
  <div class="container">
  <div class="row align-items-center" style="height:50px">
    <div class="col">
      <div>
        <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "200x200" %>
        <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-3">-->
      <!--<%#= render 'admin/genres/genre_sidebar', genres: @genres  %>-->
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-7">
          <div class="show-image">
			      <%#= attachment_image_tag @item, :image, size:'500x400', fallback: 'no_image.jpg', size:'500x400' %>
	        </div>
        </div>
        <div class="col-md-5">
	        <div class="show-content">
            <h2><%= @item.name %></h2><br>
            <p class="item-introduction"><%= @item.introduction %></p>
            <h3>¥<%= (@item.price*1.1).floor.to_s(:delimited) %><span>（税込）</span></h3>


        <% if customer_signed_in? %>
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :amount, {'1': 1, '2': 2,'3': 3 ,'4': 4,'5': 5, '6': 6,'7': 7, '8': 8,'9': 9, '10': 10}, { include_blank: '個数選択'}, { class: 'form-control' , required: true } %>
              <%#= f.number_field :amount , placeholder: "個数選択", min: 1, max: 50 %>
              <%= f.submit 'カートに入れる', class: "btn-sm btn-primary" %>
            <% end %>
        <% end %>
          </div>
        </div>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->