

<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

</html>



<body>
  <header>

<ul>
<% if user_signed_in? %>

  <li>
    <%= link_to '商品一覧', "" %>
  </li>
      <li>
      <%= link_to '会員一覧', "" %>
      </li>
  <li>
    <%= link_to "注文履歴一覧", "" %>
  </li>

  <li>
    <%= link_to "ジャンル一覧", "" %>
  </li>
  <li>
    <%= link_to "ログアウト", "" %>
  </li>

<% else %>
  <li>
    <%= link_to 'About', "" , class: "btn btn-primary"%>
  </li>
      <li>
      <%= link_to '商品一覧', "" %>
      </li>
  <li>
    <%= link_to "新規登録", "" %>
  </li>
  <li>
    <%= link_to "ログイン", "" %>
  </li>
<% end %>
</ul>

  </header>
  <%= yield %>
</body>

